name: Deploy Wiki

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: deploy-wiki
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure Git
        run: |
          git config user.name "Beater Studios"
          git config user.email "studiosbeater@gmail.com"

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Cache MkDocs Material
        uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ hashFiles('requirements.txt') }}
          path: .cache
          restore-keys: mkdocs-material-

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Deploy to GitHub Pages
        run: mkdocs gh-deploy --force
